<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Epic Blog is Epic</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
	<div class="pure-g">
      <div class="pure-u-1-4">
        <div class="pure-menu" style="padding-top : 5%;">
        <span class="pure-menu-heading">Epic Blog is Epic</span>
        <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="/articles" class="pure-menu-link">Articles</a></li>
              <li class="pure-menu-item"><a href="/new_article" class="pure-menu-link">New Article</a></li>           
          </ul>
      </div>
    </div>
      <div class="pure-u-3-4">

        <h1>{{title}}</h1>
        <form action="/articles" method="post" class="pure-form pure-form-aligned">
          <fieldset>
            <div class="pure-control-group">
              <label for="title">Title:</label>
              <input id="title" type="text" name="title" placeholder="Title" class="pure-input-1-4">
            </div>

            <div class="pure-control-group">
              <label for="content">Content:</label>
              <textarea id="content" name="content" placeholder="Content" rows="10" cols="80"></textarea>
            </div>
            
            <div class="pure-control-group">
              <label for=""></label>
              <input type="submit" value="Save" class="pure-button pure-button-primary button-large">
            </div>
          </fieldset>
        </form>
      
      </div>
  </div>
</body>
</html>