<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Epic Blog is Epic</title>
</head>
<body>
	<div class="container">
  		<h1>{{title}}</h1>
  		<div class="body">
    		<form action="/articles" method="post">
          <label for="title">Title:</label>
          <input id="title" type="text" name="title">
          <label for="content">Content:</label>
          <input id="content" type="textarea" name="content">
          <input type="submit" value="Save">
        </form>
  		</div>
	</div>
</body>
</html>